__pycache__
*.pytest_cache
*.pyc
config.py
config_test.py
config_bk.py
config.yaml

pq_dump.sql
venv/
docker-opal_bk/
server/junit_report
config_test
.env
vscode.env
kc.env
.env_bk
db_schema.sql
TODO
step1-experiment.xlsx

server/.scannerwork
.scannerwork/
.hypothesis/
.mypy_cache/
.coverage
.sonar.env

tests/manual/data/
node_modules/

.aws.env

# vscode make file extension
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

.scannerwork/

tests/reports/coverage/

prod_omics_3tr_data.sql

appmap.yml
server/appmap.yml
server/tmp
tests/manual/s3/
tmp/

*.env

s3fs_mountpoint/
s3fs.log

minio_secret